/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reseta box-sizing */
* {
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8; /* Ajuste para melhor legibilidade em telas pequenas */
    color: #fff; /* A cor do texto geral */
    margin: 0; /* Remove margens padrão */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz com que o conteúdo ocupe 100% da altura da viewport */
    overflow-x: hidden; /* Impede o scroll horizontal */
}

/* Container */
.container {
    width: 100%; /* Ajuste para largura responsiva */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px; /* Ajuste de padding */
}

/* Estilo do header */
header {
    text-align: center;
    background-color: #8B0000; /* Cor de fundo para o header */
    padding: 20px 0; /* Padding para o header */
}

header h1 {
    font-size: 2.5em; /* Reduzido para ser mais adequado a telas pequenas */
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em; /* Reduzido para ser mais adequado a telas pequenas */
    margin-bottom: 15px; /* Ajuste no espaçamento */
}

.cta-button-header {
    background-color: #fff;
    color: #ff0000;
    padding: 10px 20px; /* Ajuste no padding */
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button-header:hover {
    background-color: #ff0000;
    color: white;
}

/* Estilo da seção de características */
.features {
    padding: 20px 10px; /* Ajuste para melhor responsividade */
    background-color: #8B0000; /* Cor de fundo para a seção de características */
}

.features h2 {
    text-align: center;
    font-size: 2em; /* Ajustado para telas menores */
    margin-bottom: 20px;
}

.feature-item {
    margin: 15px 0; /* Ajuste no margin */
    text-align: center;
}

.feature-item h3 {
    font-size: 1.5em; /* Ajustado para ser mais apropriado em dispositivos móveis */
    margin-bottom: 10px;
}

/* Adicionando imagens nos itens das características */
.feature-item img {
    max-width: 100%; /* Ajusta a imagem ao tamanho do item */
    height: auto; /* Mantém a proporção */
    margin-bottom: 10px; /* Espaço entre a imagem e o título */
}

/* Estilo da seção CTA */
.cta {
    padding: 30px 15px; /* Ajuste para melhor responsividade */
    background-color: #f4f4f4; /* Cor de fundo para a seção CTA */
}

.cta h2 {
    font-size: 2em; /* Ajustado para telas menores */
    margin-bottom: 10px;
}

.cta p {
    font-size: 1em; /* Ajuste no tamanho do texto */
    margin-bottom: 15px; /* Ajuste no espaçamento */
}

.cta-button {
    background-color: #fff;
    color: #2d2d2d;
    padding: 10px 20px; /* Ajuste no padding */
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #ff0000;
    color: white;
}

/* Estilo do footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0; /* Ajuste no padding */
    font-size: 0.8em; /* Diminuído o tamanho da fonte */
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Layout Utilities */
.container {
    width: 100%;
}

/* Seção Como Funciona */
.how-it-works {
    padding: 30px 10px; /* Ajuste no padding */
    background-color: #f4f4f4; /* Cor de fundo para a seção Como Funciona */
    color: #333;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Alterando a fonte para Arial */
    font-size: 1.1em; /* Aumentando o tamanho do texto */
    line-height: 1.5; /* Aumentando o espaçamento entre linhas para melhor legibilidade */
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 30px; /* Espaçamento entre os itens */
}

.how-it-works-item {
    text-align: center;
    background-color: #fff;
    padding: 15px; /* Ajuste no padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.how-it-works-item img {
    width: 100%; /* Ocupar toda a largura disponível */
    max-width: 100%; /* Limite de largura removido */
    height: auto; /* Manter proporção */
    margin-bottom: 15px;
    border-radius: 5px;
}

.how-it-works h2 {
    font-size: 2em; /* Ajustado para telas menores */
    margin-bottom: 15px;
}

.how-it-works p, .how-it-works ol li {
    font-size: 0.9em; /* Tamanho do texto dentro dos parágrafos e da lista */
    margin-bottom: 10px;
}

/* Seção Pacotes */
.pricing {
    padding: 10px 5px; /* Ajuste no padding */
    background-color: #8B0000; /* Cor de fundo para a seção de Pacotes */
    text-align: center;
}

.pricing-plans {
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizando itens */
    gap: 20px; /* Ajuste no espaço entre os planos */
}

.pricing-plan {
    background-color: #2d2d2d; /* Cor de fundo para os planos de preços */
    color: white;
    padding: 15px; /* Ajuste no padding */
    border-radius: 10px;
    width: 90%; /* Ajuste para largura responsiva */
    max-width: 300px; /* Limite de largura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-plan h3 {
    font-size: 1.6em; /* Ajustado para telas menores */
    margin-bottom: 10px;
}

.pricing-plan .price {
    font-size: 1.8em; /* Ajustado para telas menores */
    margin: 10px 0;
}

.premium {
    background-color: #FFD700; /* Cor destaque para o plano Premium */
    color: #333;
}

.pricing-plan ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Ajuste no margin */
}

.pricing-plan ul li {
    margin: 5px 0; /* Ajuste no margin */
}

/* Seção de Reviews */
.reviews {
    padding: 40px 10px; /* Ajuste no padding */
    background-color: #00000085; /* Cor de fundo para a seção de Reviews */
    text-align: center;
}

.reviews-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.review-item {
    text-align: center;
    width: 90%; /* Ajuste para largura responsiva */
    max-width: 300px; /* Limite de largura */
}

.review-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.review-item p {
    font-size: 1em; /* Ajustado para telas menores */
    color: rgb(255, 255, 255);
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        margin: 0 0; /* Garante margens iguais em dispositivos móveis */
    }

    .how-it-works-grid {
        grid-template-columns: 1fr; /* Uma coluna em dispositivos menores */
    }

    .pricing-plans {
        flex-direction: column; /* Coluna em vez de linha */
        align-items: stretch; /* Esticar os planos de preço para ocupar toda a largura */
    }

    .pricing-plan {
        width: 100%; /* Ajustar para largura total */
        max-width: none; /* Remover limite de largura */
    }
}
